$orange : rgba(230, 140, 30, 1);
$fakeGrey : rgba(125,125,125,0.75);
.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 2px 60px;
    transition: all 0.2s ease;
    cursor: pointer;
    img {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
        position: relative;
    }
    .item-min-temp {
        font-size: 16px;
        font-weight: 600;
        color: $fakeGrey;
        left: 10%;
        bottom: 30%;
        margin-bottom: 20px;
    }
    .item-max-temp {
        font-size: 16px;
        font-weight: 600;
        color: $orange;
        right: 10%;
        bottom: 30%;
    }
    .item-day-name {
        color: $fakeGrey;
        position: absolute;
        bottom: 0%;
    }
}

@media screen and(max-width:495px) {
    .forecast-item {
        display: flex;
        img {
            width: 60px;
            height: 60px;
        }
        .item-day-name {
            font-size: 16px;
        }
    }
}