$orange : rgba(230, 140, 30, 1);
$fakeGrey : rgba(125,125,125,0.75);
.message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 615px; //think about deleting this line after
    img {
        width: 180px;
        margin-bottom: 40px;
    }
    h3 {
        color: $fakeGrey;
        font-size: 24px;
    }
    h4 {
        color: $fakeGrey;
        font-size: 18px;
    }
}
