@media screen and(max-width:750px) {
	.header-logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 20px;
		margin-right: -60px;
	}
}
@media screen and(max-width:650px) {
	.header-logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: -240px;
	}
}

@media screen and(max-width:500px) {
	.header-logo {
		margin-left: -220px;
	}
}

@media screen and(max-width:450px) {
	.header-logo {
		margin-left: -200px;
	}
}