@media screen and(max-width:650px) {
	.header-logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: -250px;
	}
}

@media screen and(max-width:500px) {
	.header-logo {
		margin-left: -200px;
	}
}

@media screen and(max-width:450px) {
	.header-logo {
		margin-left: -150px;
	}
}