$orange : rgba(230, 140, 30, 1);
$fakeGrey : rgba(125,125,125,0.75);
.header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #141414;
    min-height: 10vh;
    margin: 0px auto;
    .plus-btn {
        cursor: pointer;
        border: none;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        outline: none;
        border-radius: 50%;
        background-color: $fakeGrey;
        color: $orange;
        &:hover {
          transform: scale(1.05);
          transition: 0.3s;
        }
      }
}