$orange : rgba(230, 140, 30, 1);
$fakeGrey : rgba(125,125,125,0.75);

.weather-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
}

@media screen and(max-width:1300px) {
    .weather-box {
        display: flex;
        .lists-box {
            display: none;
        }
    }
}