$orange : rgba(230, 140, 30, 1);
$fakeGrey : rgba(125,125,125,0.75);
.copyright-box {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	.copyright-sign {
		font-size: 20px;
		color: #555;
		font-weight: 100;
		i {
			font-size: 24px;
			color: #888;
			font-weight: 500;
		}
	}
	.app-description {
		color: #777;
		font-weight: 100;
		font-size: 16px;
	}
	.app-version {
		color: #777;
		font-weight: 100;
		font-size: 16px;
		a {
			text-decoration: none;
			margin: auto 5px;
			font-weight: 600;
			color: $fakeGrey;
			transform: all 0.2s ease;
			&:hover {
				color: $orange;
			}
		}
	}
}

@media screen and(max-width:1100px) {
	.copyright-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 20px auto;
	}
}

@media screen and(max-width:750px) {
	.copyright-box {
		display: flex;
		.copyright-sign {
			font-size: 16px;
			color: #555;
			font-weight: 600;
			i {
				font-size: 18px;
				color: #888;
				font-weight: 200;
			}
		}
		.app-description {
			color: #777;
			font-weight: 100;
			font-size: 16px;
			max-width: 300px;
			text-align: center;
		}
		.app-version {
			color: #777;
			font-weight: 100;
			font-size: 16px;
			max-width: 300px;
			text-align: center;
			a {
				text-decoration: none;
				margin: auto 5px;
				font-weight: 600;
				color: $fakeGrey;
				transform: all 0.2s ease;
				&:hover {
					color: $orange;
				}
			}
		}
	}
}

@media screen and(max-width:495px) {
	.copyright-box {
		.copyright-sign {
			font-size: 18px;
			color: $fakeGrey;
			font-weight: 600;
			i {
				font-size: 18px;
				color: $fakeGrey;
				font-weight: 700;
			}
		}
		.app-description {
			color: $fakeGrey;
			font-weight: 600;
			font-size: 16px;
			max-width: 300px;
			text-align: center;
		}
		.app-version {
			color: $fakeGrey;
			font-weight: 600;
			font-size: 16px;
			max-width: 300px;
			text-align: center;
			a {
				text-decoration: none;
				margin: auto 5px;
				font-weight: 600;
				color: $fakeGrey;
				transform: all 0.2s ease;
				&:hover {
					color: $orange;
				}
			}
		}
	}
}