$orange : rgba(230, 140, 30, 1);
$fakeGrey : rgba(125,125,125,0.75);
.copyright-box {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	.copyright-sign {
		font-size: 24px;
		color: $fakeGrey;
		font-weight: 100;
		i {
			font-size: 24px;
			color: $fakeGrey;
			font-weight: 500;
			transition: all 0.3s ease;
			&:hover {
				color: $orange;
			}
		}
	}
	.app-description {
		color: #777;
		font-weight: 100;
		font-size: 18px;
	}
	.app-version {
		color: #777;
		font-weight: 100;
		font-size: 18px;
		a {
			text-decoration: none;
			margin: auto 5px;
			font-weight: 600;
			color: $fakeGrey;
			transform: all 0.3s ease;
			&:hover {
				color: $orange
			}
		}
	}
}