$orange : rgba(230, 140, 30, 1);
$fakeGrey : rgba(125,125,125,0.75);
.sidebar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 160px auto;
    .sidebar-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0,0,1);
        padding: 25px;
        border-radius: 20px;
        .hamburger-sidebar {
            cursor: pointer;
            color: $orange;
            font-size: 48px;
            margin: -20px auto;
        }
    }
}
