.footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ddd;
    min-height: 20vh;
    margin: 20px auto;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}