footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ddd;
    min-height: 20vh;
    margin: 20px auto;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    .footer-logo {
        margin-top: 20px;
    }
}

@media screen and(max-width:1100px) {
    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 50px;
        width: auto;
    }
}

@media screen and(max-width:750px) {
    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        width: auto;
    }
}

@media screen and(max-width:650px) {
    footer {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

@media screen and(max-width:475px) {
    footer {
        display: flex;
        flex-direction: column;
    }
}