$orange : rgba(230, 140, 30, 1);
$fakeGrey : rgba(125,125,125,0.75);
.list-box {
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141414;
    border-radius: 20px;
    min-height: 430px;
    .list-box-name {
        color: $orange;
        margin-top: 10px;
        font-size: 24px;
    }
    .list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: inherit;
        width: 240px;
        height: 55px;
        z-index: 1;
        border: 2px solid #474747;
        border-radius: 10px;
        &:hover {
            border: 2px solid #adadad;
            transition: all 0.5s ease-in-out;
          }
          .list-item-name {
            color: $orange;
            margin: 20px;
            font-size: 18px;
            cursor: pointer;
          }
          .list-item-temp {
            color: $fakeGrey;
            margin: 20px;
            font-size: 16px;
          }
      }
}