$orange : rgba(230, 140, 30, 1);
$fakeGrey : rgba(125,125,125,0.75);

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .city-box {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        margin-right: 20px;
        padding: 15px;
        background-color: #252525;
        border-radius: 20px;
        position: relative;
        .favorite-box {
            position: absolute;
            top: 10%;
            left: 45%;
        }
        small {
            color: $orange;
        }
        span {
            font-weight: 100;
            margin: 0px 2px;
            color: #aaa;
        }
        .first-row {
            display: flex;
            flex-direction: row;
            margin: 10px auto;
            align-items: center;
            .left-corner {
                font-weight: 600;
                margin-right:200px;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .city-name {
                    color: $orange;
                    font-size: 40px;
                }
                .city-temp {
                    color: white;
                }
            }
            .right-corner {
                margin-left:200px;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .city-image {
                    width: 60px;
                    margin: 10px auto;
                    background-color: none;
                    filter: brightness(0) invert(0.75);
                }
                .city-description {
                    color: white;
                    font-weight: 600;
                }
            }
        }
        .second-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 90px;
            margin: 10px auto;
            margin-bottom: 20px;
            .city-temp-min-max {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                .min-temp, .max-temp {
                    color: white;
                    font-weight: 600;
                }
            }
            .pressure-humidity-wind {
                display: flex;
                flex-direction: column;
                align-items: center;
                .city-wind-description, .city-pressure, .city-humidity {
                    color: white;
                    font-weight: 600;
                }
            }
            .sunrise-sunset {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;
                margin-left: 20px;
                .city-sunrise, .city-sunset {
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }
    .forecast-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        border: 2px solid $fakeGrey;
        border-radius: 20px;
        margin-right: 10px;
        padding: 10px;
    }
}