$orange : rgba(230, 140, 30, 1);
$fakeGrey : rgba(125,125,125,0.75);

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .city-box {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        padding: 15px;
        background-color: #252525;
        border-radius: 20px;
        position: relative;
        .favorite-box {
            position: absolute;
            top: 5%;
            left: 50%;
        }
        small {
            color: $orange;
        }
        span {
            font-weight: 100;
            margin: 0px 2px;
            color: #aaa;
        }
        .first-row {
            display: flex;
            flex-direction: row;
            margin: 10px auto;
            align-items: center;
            .left-corner {
                font-weight: 600;
                margin-right:200px;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .city-name {
                    color: $orange;
                    font-size: 40px;
                }
                .city-temp {
                    color: white;
                }
            }
            .right-corner {
                margin-left:200px;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .city-image {
                    width: 60px;
                    margin: 10px auto;
                    background-color: none;
                    filter: brightness(0) invert(0.75);
                }
                .city-description {
                    color: white;
                    font-weight: 600;
                }
            }
        }
        .second-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 90px;
            margin: 10px auto;
            margin-bottom: 20px;
            .city-temp-min-max {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                .min-temp, .max-temp {
                    color: white;
                    font-weight: 600;
                }
            }
            .pressure-humidity-wind {
                display: flex;
                flex-direction: column;
                align-items: center;
                .city-wind-description, .city-pressure, .city-humidity {
                    color: white;
                    font-weight: 600;
                }
            }
            .sunrise-sunset {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;
                margin-left: 20px;
                .city-sunrise, .city-sunset {
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }
    .forecast-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        border: 2px solid $fakeGrey;
        border-radius: 20px;
        margin-right: 10px;
        padding: 10px;
    }
}



@media screen and(max-width:700px) {
    .main-box {
        display: flex;
        flex-direction: column;
        .city-box {
            width: 400px;
            .favorite-box {
                position: absolute;
                top: 0%;
                right: -10%;
            }
            .first-row {
                flex-direction: column;
                .left-corner {
                    margin: 0;
                    .city-name {
                        font-size: 40px;
                    }
                    .city-temp {
                        font-size: 24px;
                    }
                }
                .right-corner {
                    margin: 0;
                    .city-image {
                        width: 120px;
                        margin: 10px auto;
                    }
                }
            }
            .second-row {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                .city-temp-min-max {
                    display: flex;
                    flex-direction: column;
                    margin: 0px;
                    margin-left: 5px;
                    margin-right: -20px;
                    .min-temp, .max-temp {
                        width: 80px;
                    }
                }
                .pressure-humidity-wind {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .city-wind-description, .city-pressure, .city-humidity {
                        color: white;
                        font-weight: 600;
                        width: 140px;
                        margin: 0px -35px;
                    }
                }
                .sunrise-sunset {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0px;
                    .city-sunrise, .city-sunset {
                        color: white;
                        font-weight: 600;
                        width: 140px;
                        margin: 0px -40px;
                    }
                }
            }
        }
        .forecast-box {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media screen and(max-width:495px) {
    .main-box {
        display: flex;
        flex-direction: column;
        .city-box {
            width: 330px;
            .second-row {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 20px;
                .city-temp-min-max {
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    .min-temp, .max-temp {
                        width: auto;
                    }
                }
                .pressure-humidity-wind {
                    .city-wind-description, .city-pressure, .city-humidity {
                        width: auto;
                        margin: auto;
                    }
                }
                .sunrise-sunset {
                    margin: auto;
                    .city-sunrise, .city-sunset {
                        width: auto;
                        margin: auto;
                    }
                }
            }
        }
        .forecast-box {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}