* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

.container-fluid {
  background-color: #eee;
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.sidebar {
  display: none;
}

.main-view {
  margin: 0px;
}
@media screen and(max-width: 1300px) {
  .sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:12%;
    right: 2%;
    width: 380px;
    padding: 10px;
  }
}

@media screen and(max-width: 750px) {
  .container-fluid {
    background-color: #eee;
    margin: 0;
    padding: 0;
    position: relative;
  }  
}

@media screen and(max-width: 650px) {
  .sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
}

@media screen and(max-width: 450px) {
  .container-fluid {
    width: auto;
    height: auto;
  }
  .sidebar {
    
  } 
}

